Options -Indexes

ErrorDocument 404 /
ErrorDocument 403 /

php_flag opcache.enable Off

RewriteEngine on 
RewriteRule ^/?users index.php [L]
RewriteRule ^/?logs-pay index.php [L]
RewriteRule ^/?logs index.php [L]
RewriteRule ^/?shares index.php [L]
RewriteRule ^/?news index.php [L]
RewriteRule ^/?roulette index.php [L]
RewriteRule ^/?settings index.php [L]