green {
	color: green;
}

#header {
	margin: 0;
}

#header #container {
	margin-bottom: 0;
	background: #e1e1e1;
	min-height: 50px;
}

#header #left_text {
	padding-left: 10px; margin-top: 7px;
}

#header #right_text {
	padding-right: 10px; margin-top: 7px;
}

#stats {
	font-size: 46px;
}

#shopTable {
	padding: 0;
	border: none;
}

#rowShop {
	vertical-align: middle;
}

#rowShop a {
	width: 100%;
}

#all_body {
	min-height: 95vh;
}

#sub_button {
	margin-left: 10px;
}

#captcha {
	margin-top: -10px;
}

.loginscreen {
    padding-top: 150px;
}

@media (min-width: 1200px) {
	#all_body {
		padding: 20px 60px 60px;
	}
}